<ion-header>

</ion-header>

<ion-content>

  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
  <h1>SETTINGS</h1>
  <ion-item-divider color="success">
    <ion-icon name="person"></ion-icon>&nbsp;&nbsp;&nbsp;
    <ion-label>
     Account Settings
    </ion-label>
  </ion-item-divider>
  
  <ion-item-divider color="secondary">
    <ion-icon name="hammer"></ion-icon>&nbsp;&nbsp;&nbsp;
    <ion-label>
      General Settings
    </ion-label>
  </ion-item-divider>
  
  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider>
      <ion-icon name="document-text"></ion-icon>&nbsp;&nbsp;&nbsp;
      <ion-label>
        Application Manager Settings
      </ion-label>
    </ion-item-divider>
  
    <ion-item><ion-icon name="notifications-circle"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Notification & Status Bar</ion-label></ion-item>
    <ion-item><ion-icon name="color-wand"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Display and Brigthness</ion-label></ion-item>
    <ion-item><ion-icon name="notifications-off-circle"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Do not Disturb</ion-label></ion-item>
    <ion-item><ion-icon name="build"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Convenience Tools</ion-label></ion-item>
    <ion-item><ion-icon name="card"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Privacy</ion-label></ion-item>
  
    <ion-item-divider>
      <ion-label>
        <ion-icon name="person-add"></ion-icon>&nbsp;&nbsp;&nbsp;
        Additional Settings
      </ion-label>
    </ion-item-divider>
  
    <ion-item><ion-icon name="language"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Language & Region</ion-label></ion-item>
    <ion-item><ion-icon name="document-lock"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Security</ion-label></ion-item>
    <ion-item><ion-icon name="navigate-circle"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-label>Location</ion-label></ion-item>
  </ion-list>
</ion-content>
