ion-label{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.card-subtitle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
ion-card{
    padding-top: 10%;
}