<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img src="assets/img/16.jpg">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <ion-icon name="leaf"></ion-icon>
    <ion-label>PLIFE (Lifestyle App)</ion-label>
    <div class="card-subtitle">PLIFE is a Lifestyle App that will help you
      keep in track oof you daily activities and also helps you relax at the same time. 
      During our busy day whether it is in our school or our wok, we should not forget
      to take care ourselves but also ou emotional, physical and mental health,<br>
      That is why PLIFE is here<br> "We makes everything easier and relaxing for you"<br><br>

      Communicate with US!:<br>
      E-mail: PLIFE@gmail.com<br>
      Phonenumber: 09094965891<br>
      Fb: PLIFE <br><br>
      "WE CARE FOR YOU"
    </div>
  </ion-card>
</ion-content>
